.main-color,
.navbar-light .navbar-nav .active>.nav-link,
.myBtn2:hover,
.overlay2 button:hover a
{color:#00b7c2}
.main-bg,
#services .h1::after,
#projects .h1::after,
#projects .buttons button:hover,
#projects .buttons button.active,
#test .h1::after,
#contact .h1::after,
.option svg
{background-color: #00b7c2;}
@media (max-width:991px){
    .nav-item:hover{padding-left:25px; background-color: #00b7c2}
}
.myImg img:hover {box-shadow: -15px -15px rgba(0, 183, 194,0.9);}

.myBtn2:hover,
#projects .buttons button,
.color
{border:1px solid #00b7c2}

.education h2
{border-bottom: 2px solid #00b7c2;}

#services .col-lg-4:not(:last-of-type){
    border-right: 1px solid #00b7c2
}
.overlay2{background-color: rgba(0, 183, 194,0.9);}
.text2{border-left: 1px solid rgb(0, 183, 194);}